/*this has the color of the background overall and the font scheme of the numbers*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.container, .small-container, .medium-container {
  max-width: 1200px;
  padding: 0 rem;
  margin-left: auto;
  margin-right: auto;
}

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* all the properties of the button*/
button {
	border-style: double solid ridge;
	background-color: gray;
	border-color: black;
	border: solid round;
	margin-bottom: 0.7rem;
	border-radius: 5px;
}
/**
 * Tables
 */
 
/*table layout*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
}

/*the sunday-saturday color pick*/
thead th {
	background-color: black;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

/*Make cells square-like*/
tbody td {
	height: 100px;
	vertical-align: top;
	position: relative;
}

/*for empty cells*/
tbody td:empty {
  background-color: white;
}
/*this is for the border lines of the table*/
th, td {
	border: 2px solid black;
	text-align: center;
	padding: 0.5rem;
	font-size: 1.2rem;
}

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.contain-table {
  overflow-x: auto;
}

@media (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }

  tbody td {
    height: 80px; /* Reduce cell height on smaller screens */
  }
}

@media (min-width: 600px) {
  .contain-table {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffd9f1;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
