/* src/components/Navbar.css */
.navbar {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1000;
}

.navbar-profile-pic {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px var(--color-3);
  cursor: pointer;
  justify-content: center;
}
