.UserSettings {
    border: 0rem solid;
    border-color: black;
}
/* 
.UserPic {
    width: 10rem;
    height: 20rem;
    background-color: #ccc; 
    border: 4px double black;
    display: flex;
    align-items: center;
    justify-content: center;
} */