form {
  background-color: #ffffff;
  border: 1px solid #63746a;
  border-radius: 4px;
}

.accountcontainer {
  background-color: #d3ded8;
  border: 1px solid #63746a;
  border-radius: 8px;
  padding: 30px;
  padding-top: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 10px #63746a;
}

.accountcontainer input[type="text"],
.accountcontainer input[type="password"] {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  font-family: monospace;
}

.accountcontainer button {
  width: 100%;
  padding: 10px;
  background-color: #63746a;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: monospace;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.accountcontainer button:hover {
  background-color: #4a5c52;
}

.accountcontainer .errorMessage {
  color: red;
  font-size: 12px;
  margin: 0px 0 10px 0;
  padding-left: 5px;
  text-align: left;
}
.accountcontainer a {
  color: #63746a;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.accountcontainer a:hover {
  color: #4a5c52;
  text-decoration: underline;
}

/* Match form title */
.accountcontainer h3 {
  color: #5e5c5c;
  font-family: monospace;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}

.linkContainer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.link {
  color: #63746a;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
  font-size: 14px;
}

.link:hover {
  color: #4a5c52;
  text-decoration: underline;
}

.errorContainer {
  min-height: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #d3ded8;
  border-radius: 4px;
}
